/* header */

header {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #ccc;
    padding: 0 40px;
}

.header_inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    background-color: aqua;
}

.header_menu {
    display: flex;
    gap: 20px;
}

.header_menu li {
    background-color: antiquewhite;
}

.header_spacer {
    /* width: 100%; */
    height: 80px;
}

/* pagenation */

.page_btns {
    display: flex;
    width: 40%;
    height: 40px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

.page_btn {
    cursor: pointer;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 200%;
    box-sizing: content-box;
    border: #fff solid 1px;
}

.page_btn:hover {
    border: #ccc solid 1px;
}

.js_page {
    width: calc(100% - 80px);
    height: 1000px;
    margin: 0 auto;
    background-color: blue;
    display: none;
}

.is_show {
    display: block;
}

/* footer */

footer {
    width: 100%;
    margin: 50px 0;
}

.footer_inner {
    margin: 0 20%;
    display: flex;
    justify-content: space-between;
}

.footer_inner ul {
    display: flex;
    flex-direction: column;
}